html {
  box-sizing: border-box;
  background-color: #999;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h2 {
  text-align: center;
}

section {
  align-items: stretch;
  width: 100%;
}

ul li {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

img {
  max-height: 5em;
}

p {

}
